@{
    ViewData["Title"] = "Home Page";
}
@model TesteRotativa.Models.TestModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TesteRotativa</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TesteRotativa.styles.css" asp-append-version="true" />
</head>
<body>

    <div class="row text-center">
        <h1 class="display-5">@Model.Name</h1>
    </div>

    <div class="row text-center">
        <input type="text" class="form-control imput-sm" id="mensagem" value="asdsa">
    </div>


    <div class="row text-center">
        <div class="col-4">
            <button class="btn btn-primary">Botãozim</button>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        window.onload = function () {
            $("mensagem").val("Essa mensagem foi escrita utilizando javascript");
        };

    </script>

</body>
</html>